@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

.price-container {
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 32px auto;
}
.price-container header {
  display: flex;
  align-items: center;
}
.price-container header span {
  font-size: 20px;
  margin-left: 24px;
}
.price-container header img {
  height: 64px;
}
.price-container header a {
  width: 260px;
  margin-left: auto;
  margin-top: 0;
}
.price-container header button {
  height: 60px;
  width: 60px;
  border-radius: 4px;
  border: 1px solid #dcdce6;
  background: transparent;
  margin-left: 16px;
  transition: border-color 0.2s;
}
.price-container header button:hover {
  transition: 1s;
  background-color: rgb(226, 226, 226);
  border-color: #999;
}
.price-container h1 {
  margin-top: 80px;
  margin-bottom: 24px;
}
.price-container ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.4em;
  list-style: none;
}
.price-container ul li {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  position: relative;
  box-shadow:0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.price-container ul li strong {
  display: block;
  margin-bottom: 16px;
  color: #41414d;
}
.price-container ul li p + strong {
  margin-top: 15px;
}
.price-container ul li p {
  color: #737380;
  line-height: 21px;
  font-size: 16px;
}
